.related-articles {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 1.5rem;
            font-size: var(--body-font-size-s);

            a {
                display: block;
                text-decoration: none;
                color: inherit;

                .title {
                    font-weight: bold;
                    color: var(--link-color);
                    display: block;
                }
            }

            p.description {
                font-size: var(--body-font-size-s);
                margin: 0;
                color: var(--text-color);
            }

            &:hover {
                border-left: 5px solid var(--accent-color);
                padding-left: 10px;
                transition: all 0.3s ease;
            }
        }
    }
}